@mixin flexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    @include flexCenter();
    
    background-color: lightblue;
    button{
        background: $primaryBtn;
        color: white;
        &:hover{
            background: red;
            color: white;
        }
    }
}